.hiro {
    max-width: 1258px;
    max-height: 911px;
    background: url(../css/Bitmap.jpg);
    display: flex;
}   
.argen {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

